<style id='dynamic-style'>
</style>
<div class="csec">
  <div class="">
    <div class="pane-1 pane bgc-1">
      <div class="hp-20 vp-20">
      <div id="settings-pane" class="settings-pane">
        <img class="my-photo chat-userphoto" />  
        <div class="settings-name">
          <span class="chat-username"></span> 
          <div>
            <span id="change-name" class="small-text clr-1 change-name">(change name)</span>
          </div>
        </div><!-- settings-name -->
        <div id="change-photo" class="small-text clr-1 change-photo">(change photo)</div>
      </div><!--settings-pane-->
      <div id="users-online-pane" class="users-online-pane">
        <div class="small-text clr-1 bm-10"><span class="users-in-chatroom">0</span> others online</div>
      </div><!--users-online-pane-->
      </div>
    </div> <!--pane-1 -->
    <div class="pane-3 pane bgc-1">
      <div class="hp-20 vp-20">
      <div id="chat-pane" class="chat-pane">
        <div class="welcome">Welcome to whisper chirp</div>
        <div id="chat-messages" class="chat-messages">
        </div><!--chat-room -->
      </div><!-- chat-pane -->
      <div class="chat-box-container">
        <form>
          <input id="chat-box" class="chat-box" type="text" autocomplete="off" placeholder="Write a reply..."/>
        </form>
      </div><!-- chat-box -->
      </div>
    </div><!-- pane-3 -->
  </div>
</div>
<script src="/static/js/chatroom.js"></script>
