<style id='dynamic-style'>
</style>
<div class="content content-2">
  <div class="sec">
    <div class="pv-50 ph-50">
      <div id="videos" class="videos">
          <video id="localvideo" class="video" width="400" height="300" muted autoplay></video>
      </div><!-- videos -->
    </div><!-- padding -->
  </div><!-- sec -->
  <div class="chat-sec">
    <div class="pb-90">
      <div id="chat-pane" class="chat-pane">
        <div id="chat-messages" class="chat-messages">
        </div><!--chat-room -->
      </div><!-- chat-pane -->
    </div><!-- padding -->
    <div class="chat-box-container">
      <textarea id="chat-box" type="text" autocomplete="off" placeholder="Write a reply..."></textarea>
    </div><!-- chat-box-container -->
  </div><!-- chat-sec -->
</div><!-- content -->
<script src="/static/js/chatroom.js"></script>
