<style id='dynamic-style'>
</style>
<header id="header" class="header">
</header>
<div class="csec">
  <div class="pane-1 pane">
    <div id="settings-pane" class="settings-pane">
      <img class="my-photo" src='/static/img/no-user-photo.gif' />  
      <div class="settings-name">
        <span class="chat-username"></span> 
        <span id="change-name" class="small-text clr-1 change-name">(change)</span>
      </div><!-- settings-name -->
    </div><!--settings-pane-->
    <div id="users-online-pane" class="users-online-pane">
      <div class="small-text clr-1 bm-10">Users online</div>
    </div><!--users-online-pane-->
  </div> <!--pane-1 -->
  <div class="pane-3 pane">
    <div id="chat-pane" class="chat-pane">
      <div class="welcome">Welcome to whisper chirp</div>
      <div id="chat-messages" class="chat-messages">
      </div><!--chat-room -->
    </div><!-- chat-pane -->
    <div class="chat-box-container">
      <form>
        <input id="chat-box" class="chat-box" type="text" autocomplete="off" placeholder="Write a reply..."/>
      </form>
    </div><!-- chat-box -->
  </div><!-- pane-3 -->
</div>
<script src="/static/js/chatroom.js"></script>
