!!!5
html(lang='en',ng-app='whisperChirpApp')
  head
    meta(charset='utf-8')
    title Whisper Chirp
    link(rel='stylesheet', href='static/css/app.css')
    script(src='/static/lib/webrtcio/webrtc.io.js')
  body
    header(id='header', class='header-1')
      div(class='sec-1 sec')
        div
          img(src='/static/img/logo.png', height='20') 
          span(class='logotext')
            span(class='fw-300') whisper
            span(class='fw-400') Chirp
    ng-view
    footer(id='footer',class='footer')
      div(class='sec-1')
    
    script(src='/static/js/vars.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js')
    script(src='/static/lib/JavaScript-MD5/js/md5.min.js ')
    script(src='/static/js/angular/app.js')
    script(src='/static/js/angular/controllers/ChatRoom.js')
    script(src='/static/js/angular/services/ChatRoom.js')
    script(src='/socket.io/socket.io.js')
    script(src='/static/js/footer.js')
    script(src='/static/js/functions.js')
