/*
 * PARTIALS
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@import "partials/variables", "partials/mixins", "partials/normalize";

/*
 * MAIN
 */
html { height: 100%; font-family: $font-family-1; }
body { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,p { color: $color-1; margin:0; }

/*
 * HEADER
 */
.header-1 {
  background-color: #000000;
  .logotext { color: #ffffff; line-height: 20px; vertical-align: top; display: inline-block; }
}

/*
 * FOOTER
 */
.footer-1 {
  text-align: center; color: #52525F; font-size: 12px;
  nav { 
    ul { margin: 0; padding: 0 0 10px 0; }
    ul li { display: inline-block; @include ph(5px); }
  }
}

/*
 * SECTIONS
 */
 .sec-1 { width: 1400px; margin: 0 auto; }

/*
 * CONTENT
 */
.content-1 {
  background-color: #01B5AA; height: 800px; background-image: url('/static/img/bg-content-1.png'); background-position: center;
  background-repeat: no-repeat;
  h1 { font-size: 70px; }
  h2 { font-size: 60px; }
  h3 { font-size: 50px; }
  h4 { font-size: 40px; }
  h5 { font-size: 30px; }
  h6 { font-size: 20px; }

  .chatsearch input { width: 300px; @include bdr-rad(10px); height: 40px; line-height: 40px; font-size: 13px; 
    @include ph(10px); display: inline-block; border: 0; @include pv(0px); outline: 0; }
}

/*
 * REUSABLES
 */
@include set-m-and-p(null,150);
@include set-per-w(null);
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }

.hidden { display: none; }
.block { display: block; }
.inline { display: inline-block; }
.ctr { text-align: center; }

.btn-1 { background-color: #000000; font-weight: 300; text-align: center; font-size: 20px; height: 40px; line-height: 40px; 
  color: #ffffff; @include ph(20px); display: inline-block; cursor: pointer; @include bdr-rad(10px); }


/* Background colors */
.bgc-1  { background-color: $color-1;  } 
.bgc-2  { background-color: $color-2;  } 
.bgc-3  { background-color: $color-3;  } 
.bgc-4  { background-color: $color-4;  } 
.bgc-5  { background-color: $color-5;  } 
.bgc-6  { background-color: $color-5;  } 
.bgc-7  { background-color: $color-5;  } 
.bgc-8  { background-color: $color-8;  } 
.bgc-9  { background-color: $color-9;  } 
.bgc-10 { background-color: $color-10; } 

/* Font colors */
.fc-1  { color: $color-1;  } 
.fc-2  { color: $color-2;  } 
.fc-3  { color: $color-3;  } 
.fc-4  { color: $color-4;  } 
.fc-5  { color: $color-5;  } 
.fc-6  { color: $color-6;  } 
.fc-7  { color: $color-7;  } 
.fc-8  { color: $color-8;  } 
.fc-9  { color: $color-9;  } 
.fc-10 { color: $color-10; } 

/* Font families */
.ff-1  { font-family: $font-family-1;  } 
.ff-2  { font-family: $font-family-2;  } 
.ff-3  { font-family: $font-family-3;  } 
.ff-4  { font-family: $font-family-4;  } 
.ff-5  { font-family: $font-family-5;  } 

/* Font Weights */
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-600 { font-weight: 400; }
.fw-700 { font-weight: 700; }

/*
IE
*/
.ie10 {
}

/*
RESPONSIVE STYLES
*/
@media (max-width : $tab-width) {
  @include set-m-and-p(tab-,150);
  @include set-per-w(tab-);
  .tab-block { display: block; }
  .tab-inline { display: inline-block; }
  .tab-hidden { display: none; } 
  .tab-ctr { text-align: center; } 
}

@media (max-width : $mob-width) {
  @include set-m-and-p(mob-,150);
  @include set-per-w(mob-);
  .mob-block { display: block; }
  .mob-inline { display: inline-block; }
  .mob-hidden { display: none; } 
  .mob-ctr { text-align: center; } 
}
