extend layout
block content
  div(class='sec-1')
    div(class='pv-25')
      div(class='pv-150 ctr')
        h1(class='fw-300')
          | WhisperChirp
        h4(class='fw-300') 
          | Chat with friends. No account needed.  
        div(class='chatsearch pv-35')
          input(placeholder='Enter a new or existing name of a chatroom.', class='mr-10')
          div(class='submit btn-1')
            | go
