!!!5
html
  head
    title Whisper Chirp - #{title}
    link(rel='stylesheet', href='static/css/app.css')
  body
    header(id='header', class='header-1')
      div(class='sec-1 sec')
        div
          img(src='/static/img/logo.png', height='20') 
          span(class='logotext')
            span(class='fw-300') whisper
            span(class='fw-400') Chirp
    div(class='content content-1')
      block content
    footer(class='footer footer-1')
      div(class='sec-1')
        div(class='pv-25')
          nav
            ul
              li about
              li The company
              li suggestions
            div &copy; 2013 Chiedo John LLC
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='/static/js/footer.js')
    script(src='/static/js/functions.js')
