$tab-width: 768px;
$mob-width: 480px;
$color-1 : #ffffff; /* white */
$color-2 : #ffffff; /* white */
$color-3 : #ffffff;
$color-4 : #ffffff;
$color-5 : #ffffff;
$color-6 : #ffffff;
$color-7 : #ffffff;
$color-8 : #ffffff;
$color-9 : #ffffff;
$color-10 : #ffffff;

$font-family-1: "Open Sans", sans-serif;
$font-family-2: "Times New Roman", Georgia, Serif;
$font-family-3: "Times New Roman", Georgia, Serif;
$font-family-4: "Times New Roman", Georgia, Serif;
$font-family-5: "Times New Roman", Georgia, Serif;
