extend layout
block content
  style(id='dynamic-style')
  div(class='content content-2')
    div(class='sec')
      div(class='pv-50 ph-50')
        div(id='videos',class='videos')
          video(id='localvideo',class='video',width='400',height='300',muted,autoplay)
    div(class='chat-sec')
      div(class='pb-90')
        div(id='chat-pane',class='chat-pane')
          div(id='chat-messages',class='chat-messages')
      div(class='chat-box-container')	
        textarea(id='chat-box',type='text',autocomplete='off',placeholder='Write a reply...')
block head-content
  script(src='/static/lib/webrtcio/webrtc.io.js')
block footer-content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/static/js/footer.js')
  script(src='/static/js/functions.js')
  script(src='/static/js/vars.js')
  script(src='/static/js/chatroom.js')
