extend layout
block content
  div(class='content content-1')
    div(class='sec-1 sec')
      div(class='pv-25')
        div(class='pv-150 ctr')
          h1(class='fw-300') WhisperChirp
          h4(class='fw-300') Chat with friends. No account needed.  
          div(class='chatsearch pv-35')
            input(id='go-to-room-input',placeholder='Enter a new or existing name of a chatroom.', class='mr-10')
            div(id='go-to-room',class='submit btn-1') go
block footer-content
  div(class='sec-1 sec')
    div(class='pv-25')
      nav
        ul
          li <a href="http://chie.do">the company</a>
          li <a href="http://chie.do">suggestions</a>
        div &copy; 2013 <a href="http://chie.do">Chiedo Labs</a>
  script(src='/static/js/index.js')
